@font-face {
    font-family: afterglow;
    src: url("../../assets/fonts/Afterglow-Regular.ttf");
  }
.total p {
    font-size: 5rem;
}
.slider-shipping p {
    border: dashed;
    border-inline-style: none;
}
.menuItemA{
    margin-bottom: 500px;
    opacity: 1;
}
.menuItemD{
    opacity: 0;
}
.selecteditem{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.slider {
    display: flex;
    width: 288px;
    margin-left: 100px;
    height: 500px;
}
.action-offer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 23px 23px 23px ;
}
.user-name{
    padding: 14px;
    font-family: 'afterglow';
    font-size: 20px;
    text-transform: uppercase;
}
article img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
}
.chat-selected-hb {
    border-bottom: 1px solid #8080804a;
    padding: 4px 25px;
    margin: 6px 10px;
}

.chat-selected-header {
    border-bottom: 1px solid #8080804a;
    padding: 4px 25px;
    margin: 6px 10px;
    display: flex;
    justify-content: space-between;
}

.me {
    text-align: left;
    background: #5d5d5d;
    padding: 10px;
    border-radius:18px 18px 4px 18px;
    width: fit-content;
    max-width: 100%;
    color: white;
    align-self: flex-end;
    overflow-wrap: break-word;
}

.me .message {
    text-align: right;
    font-size: 9pt;
 
}

.not-me {
    background: rgb(93, 93, 93,0.1);
    padding: 10px;
    border-radius:4px 18px 18px 18px;
    width: fit-content;
    max-width: 100%;
    color: #5d5d5d;
    float: left;
    align-self: flex-start;
    overflow-wrap: break-word;
}

.not-me .message {
    text-align: left;
    font-size: 9pt;
}

.chat-selected-footer textarea {
    height: 65px;
    resize: none;
}

.chat-selected-body{
    display: flex;
    flex-direction: column;
    grid-gap: 9px;
    height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
}
.chat-input{
    bottom: 0px;
}
@media (min-width:400px) and (max-width:900px) {
    .chat-input{
        bottom:0px;
    }
 }