#categories {
    text-align: center;
    padding: 5%;
}

#categories>h1 {
    font-family: serif;
    margin-bottom: 3%;
}

#categories svg {
    margin-bottom: 4px;
    margin-right: 4px;
}

#categories a button{
    margin-bottom: 10px;
    margin-right: 10px;
}

#properties>svg {
    color: orange;
}

#Wheat>svg {
    color: #e7cf65;
}
#Olive>svg {
    color: #568f22;
}

#Corn>svg {
    color: #e2f81d;
}

#CoffeeBeans>svg {
    color: #552d00;
}

#Peanut>svg {
    color: #b89b3b;
}

#Almond>svg {
    color: #694a0f;
}

.spinner {
    text-align: center;
}
.infinitescroll{
    min-height: 419px;
}
#dropdown-sort {
    padding-bottom: 20px;
    margin-top: -25px;
}

#dropdown-sort button {
    border: 1px solid gray;
    width: 110px;
}

#dropdown-sort button svg {
    font-size: 14pt;
}
